<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <% include ../modules/m_header.html %>
        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/list.css">
    </head>
<body>
<div class="wrap">
	<div class="well">所有列表</div>
	<div class="container">
		<form class="search-box" method="post" action="/list">
		   <div class="group">
		      <label>关键字</label>
		      <div class="searchkey">
		         <input type="text" class="form-control" name="searchkey"
		            placeholder="请输入邮箱,不输入则搜索全部">
		      </div>
		      <button type="submit" class="search-btn">查找</button>
		   </div>
		</form>
	
		<table class="list-tab">
			<thead><tr><th>邮箱</th><th>账号</th><th>是否申请</th><th width="200px">备注</th><th>插入时间</th></tr></thead>
			<tbody>
			<% for(i in data) { %>
				<tr>
					<td><%= data[i].email %></td>
					<td><%= data[i].account %></td>
					<td><%= data[i].apply  %></td>
					<td><%= data[i].remarks %></td>
					<td>
						<% if(data[i].inserttime){
							var newDate = new Date();	//时间戳转为时间格式
							newDate.setTime(data[i].inserttime); 
						 %>
						<%= newDate.toLocaleDateString() %>
						<% } %>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
		<div class="pager">
			<p class="count">总页数: <font><%= Math.ceil(totalPage) %> </font> 当前页数: <font><%= nowPage %></font></p>
			<ul>
			  <li class="previous <% if(nowPage==1){ %>disabled<% } %>"><a href="list?topage=<%= nowPage-1 %>">&larr; 上一页</a></li>
			  <li class="next <% if(nowPage==Math.ceil(totalPage)){ %>disabled<% } %>"><a href="list?topage=<%= nowPage+1 %>">下一页 &rarr;</a></li>
			</ul>
		</div>
	</div>
</div>

<% include footer.html %>