<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <% include ../modules/m_header.html %>
        <!-- CSS -->
        <style type="text/css">
        	.form-group{float: left;height: 40px;line-height: 40px;}
        	.submit{float: left;}
        	.upload-form{margin-top:40px;}
        </style>
    </head>
<body>
<div class="wrap">
<div class="well">文件上传</div>
	<form method='post' class="upload-form" enctype='multipart/form-data'>
	   <div class="form-group">
	      <label class="sr-only" for="inputfile">请选择文件：</label>
	      <input id="inputfile" name='inputFile' type='file' multiple='mutiple'>
	   </div>
	   <button type="submit" class="btn btn-default submit">提交</button>
	</form>
</div>
<% include footer.html %>